@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montseraat", sans-serif;    
}

body {
    height: 100vh;
    background-color: #24252A;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: inherit;
}

a:hover{
    color: orange;
}

header {
    position: relative;
    padding: 0 10rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1600;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.navbar {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}



@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
 
}

.title {
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 240px;
    font-size: 85px;
}

.slogan {
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    font-size: 40;
}

